[pwm_cycle_time beeper]
pin: gpio17
value: 0
shutdown_value: 0
cycle_time: 0.001

[gcode_macro M300]
description: Play a tone. Usage: M300 S[frequency] P[duration_ms]
gcode:
    # Set default frequency to 1000Hz if S is omitted
    {% set S = params.S|default(1000)|float %}
    # Set default duration to 100ms if P is omitted
    {% set P = params.P|default(100)|int %}

    {% if S > 0 %}
        # Klipper cycle_time is 1 / frequency in seconds
        SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0 / S }
        G4 P{P}
        SET_PIN PIN=beeper VALUE=0
    {% else %}
        # If frequency is 0, just pause (rest)
        G4 P{P}
    {% endif %}

[gcode_macro MARIO]
description: Play the Super Mario Bros. theme intro
gcode:
    # E5
    M300 S659 P150
    M300 S0 P150
    
    # E5
    M300 S659 P150
    M300 S0 P300
    
    # E5
    M300 S659 P150
    M300 S0 P300
    
    # C5
    M300 S523 P150
    M300 S0 P150
    
    # E5
    M300 S659 P150
    M300 S0 P300
    
    # G5
    M300 S784 P150
    M300 S0 P600
    
    # G4 (Down an octave)
    M300 S392 P150

